* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
i, svg {
    pointer-events: none;
}

.intro{

    width: 50%;
    margin: 3rem auto;

}

.pad {
    width: 3rem;
    height: 4rem;
    margin: 0.5rem;
    cursor: pointer;
}

.pad-kick {
    background-color:rgb(191, 227, 252);
}

.pad-clap {
    background-color:rgb(177, 238, 208);
}

.pad-crash {
    background-color:rgb(252, 185, 185);
}

.pad-hihat {
    background-color:rgb(248, 255, 181);
}

.pad-snare {
    background-color:rgb(196, 195, 247);
}

.pad-kick.active {
    background-color:rgb(127, 199, 247);
}

.pad-clap.active {
    background-color:rgb(110, 233, 171);
}

.pad-crash.active {
    background-color:rgb(243, 125, 125);
}

.pad-hihat.active {
    background-color:rgb(250, 218, 115);
}

.pad-snare.active {
    background-color:rgb(131, 129, 245);
}


.track-kick, .track-clap, .track-crash, .track-hihat, .track-snare {
    width: 100%;
    display: flex;
}

.kick, .clap, .crash, .hihat, .snare {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sequencer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 0.7rem;
    border: none;
    background: rgb(128, 123, 123);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}


.pad {
    transition: all 0.5s ease-in-out;
}

.play {
    margin: 0 auto;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(83, 83, 83);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;

}

select {
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: 0.5rem;
}


@keyframes playTrack{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}